.header
{
  padding: 20px;
}
.header img
{
  width: 150px;
  height:150px;
  border-radius: 50%;
}
.qualification .degree_list
{
  line-height:2.0;
  font-size:15px;
}
.hobbies  .hobby_list
{
  list-style: 2.0;
  font-size: 15px ;
}
